{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
  <h2 class="mb-4 ">Makkaleler</h2>
  <div class="row">
    {% for post in posts %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
            Yazar: <a href="{% url 'accounts:profile' post.author.username %}" class="text-info">{{ post.author.username }}</a></p>
            <a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-primary">Devamını Oku</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}