{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% block content %}
  <div class="container mt-5" >
  <h1 id="type" style="text-align: center; color: khaki;"></h1> <br>
  <h5 class="text-light">
    Dijital adli bilişim alanında içerik üreten, kullanıcı dostu ve etkileşimli bir blog platformuyuz.
    Amacımız, bilgi paylaşımını kolaylaştırmak ve teknik konuları herkes için erişilebilir kılmak.
  </h5>
  <p class="text-muted">
    Sitemiz; yorum, cevap ve haber bölümleriyle sürekli güncellenen, modern bir yapıya sahiptir.
  </p>
</div>
   <script>
  const text = "Hakkımızda";
  const target = document.getElementById("type");
  let index = 0;

  function typeLetter() {
    if (index < text.length) {
      target.textContent += text.charAt(index);
      index++;
      setTimeout(typeLetter, 130); // hız ayarı (ms)
    }
  }

  window.addEventListener("DOMContentLoaded", typeLetter);
</script>
{% endblock content %}
</html>