{% extends "base.html" %}

<body>
   {% block content %}
   <style>
    li,p{
        font-size: 20px;
    }
</style>
<h1 style="text-align: center; color: khaki;">Siber Adli Bilişim Proje Konuları</h1><br>
<p><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Siber adli bilimler, çoğunlukla dijital delilleri incelemek ve suçları araştırmak için kullanılan hızla büyüyen bir alandır. Son zamanlarda, bu alanın çeşitli özelliklerini ve yeni teknolojileri içeren farklı proje konuları ortaya çıkmaktadır. Aşağıda, farklı zorluk seviyelerine ve ilgi alanlarına uygun çok sayıda proje konusu bulunmaktadır:</font></font></p>
<ol>
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">IoT Cihaz Adli Bilişimi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Adli araştırmalarda önemli olabilecek cihaz verilerini elde etmek, korumak ve gözlemlemek için fitness monitörü ve dijital hoparlör gibi bir IoT cihazı seçmek ve ardından bir teknoloji tasarlamak.</font></font></li>
</ul>
<ol start="2">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Güvenli Mesajlaşma Uygulamalarının Adli Analizi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Telegram ve Signal gibi güvenli mesajlaşma uygulamalarının verileri bir cihazda yerel olarak nasıl kaydettiğini araştırarak, verileri adli olarak almak ve gözlemlemek için teknikler oluşturmak.</font></font></li>
</ul>
<ol start="3">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Bulut Depolama Adli Bilişimi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Bulutta depolanan verilerin toplanması ve izlenmesi için ahlaki ve yetkili kısıtlamaları incelemek ve belirli bir bulut depolama hizmeti (Google Drive ve Dropbox gibi) için yöntemler oluşturmak.</font></font></li>
</ul>
<ol start="4">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Kripto Para İşlem Analizi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Yetkisiz davranışları ortaya çıkaran rakamların gözlemlenmesine ve bir işlemde yer alan tarafların tespit edilmesine ve kripto para işlemlerini takip etmeye, araçlar veya yöntemler oluşturmaya odaklanmak.</font></font></li>
</ul>
<ol start="5">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Adli Görüntülerde Kötü Amaçlı Yazılım Tespiti için Makine Öğrenimi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Temel olarak bilinmeyen veya yeni kötü amaçlı yazılım farklılıklarını bulabilen ve sabit disklerin adli görüntülerinde kötü amaçlı yazılımları tanımlayıp kategorize edebilen, makine öğrenmesi yöntemlerini uygulayan bir çerçeve oluşturmayı amaçlamaktadır.</font></font></li>
</ul>
<ol start="6">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Sosyal Medya Adli Bilimleri</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Sosyal medya ortamlarından veri toplayıp incelemenin yanı sıra paylaşımların kaynağını tespit etmek, kötü niyetli davranışları bulmak ve etkileşim kalıplarını gözlemlemek için adli incelemelere yardımcı olacak bir cihaz veya yöntem geliştirmek.</font></font></li>
</ul>
<ol start="7">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Siber Saldırı Tespiti için Ağ Trafiği Analizi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> İmza odaklı veya anormallik odaklı tanımlama yöntemlerinin yardımıyla, ağ trafiğini yakalama ve gözlemleme mekanizması oluşturarak hassas olayların ve siber tehditlerin sinyallerini bulmak.</font></font></li>
</ul>
<ol start="8">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Dijital Adli Bilişim Aracı Değerlendirmesi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Bulut adli bilimi, ağ adli bilimi ve mobil adli bilim gibi belirli bir arka planda, EnCase veya Autopsy gibi önceki dijital adli bilişim araçlarının kapsamlı bir değerlendirmesini düzenleyin ve ardından diğer seçenekler veya geliştirmeler önerilebilir.</font></font></li>
</ul>
<ol start="9">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Gizliliği Koruyan Adli Bilişim</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Gizlilik kaygılarıyla araştırma gereksinimlerini eşitleyen teknikler oluşturmayı hedeflemek, ilgili olmayan özel verilerin kapsamını azaltan dijital adli araştırmaları organize etmek için algoritmalar keşfetmek.</font></font></li>
</ul>
<ol start="10">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Adli Bilişim Karşıtı Teknikler ve Karşı Tedbirler</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Adli incelemeler üzerindeki etkiyi bulmak ve azaltmak, veri yayma, kodlama ve veri karmaşıklaştırma gibi genel adli bilişim karşıtı yöntemleri öğrenerek çözümler veya teknikler oluşturmak.</font></font></li>
</ul>
<ol start="11">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Sanal ve Artırılmış Gerçeklik Sistemlerinin Adli Analizi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Kullanıcı iletişimlerini, eylemlerini ve etkileşimlerini kaydetme olanağına odaklanmak ve daha sonra artırılmış ve sanal gerçeklik mekanizmalarından veri alma ve gözlemleme algoritmaları oluşturmak.</font></font></li>
</ul>
<ol start="12">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Giyilebilir Cihazların Adli Analizi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> İletişim ve kullanıcı davranışları hakkında bilgi sunabilen verileri almak ve gözlemlemek için akıllı saatler gibi giyilebilir cihazların veri depolama sistemlerini inceleyerek adli bir görev oluşturmak.</font></font></li>
</ul>
<p><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Siber güvenlikte bitirme projesi yapmak için en iyi fikirler nelerdir?</font></font></strong></p>
<p><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Siber güvenlik alanında bir bitirme projesi oluşturmak için en iyi stratejiler, kişinin uzmanlığına ve araştırmanın önemine göre seçilebilir. Farklı siber güvenlik alanlarında değerlendirebileceğiniz çeşitli ilginç ve etkili bitirme projesi planlarının bir listesini sunuyoruz:</font></font></p>
<ol>
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">IoT Güvenlik Çerçevesi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Hedef:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Sağlık ve dijital evler gibi belirli bir arka planda IoT cihazları için yaygın hassasiyetleri ele almak ve güvenli dağıtım ve yönetim talimatları sunmak, kapsamlı bir koruma modeli oluşturmak.</font></font></li>
</ul>
<ol start="2">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Güvenli Dosya Paylaşım Sistemi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Güvenli erişim kontrolleri ve uçtan uca şifreleme kullanarak veri gizliliğini, erişilebilirliğini ve ahlakını garanti eden güvenli bir dosya aktarım modeli uygulamak.</font></font></li>
</ul>
<ol start="3">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Güvenli Oylama Sistemleri için Blockchain</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Seçim görevlerinin ahlaki ve anlaşılırlığını artırmayı hedefleyerek, blockchain teknolojisi yardımıyla korumalı, mühürlü ve isimsiz bir oy verme makinesinin prototipini geliştirmek.</font></font></li>
</ul>
<ol start="4">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Kimlik Avı Algılama Aracı</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Oltalama tehditlerinin gerçekleşme oranını en aza indirme amacıyla, makine öğrenimi ve doğal dil işlemeyi kullanan bir araç geliştirerek oltalama e-postalarını tespit etmek ve işaretlemek.</font></font></li>
</ul>
<ol start="5">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Siber Güvenlik Farkındalık Eğitim Programı</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Hedef:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Öğrenciler veya çalışanlar gibi özel bir hedef kitleye yönelik iletişimsel modüller, değerlendirmeler ve simülasyonlar içerir. Siber güvenlik bilincini artıracak bir etkinlik geliştirmek ve uygulamak.</font></font></li>
</ul>
<ol start="6">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Gizliliği Koruyan Veri Paylaşım Platformu</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Homomorfik kodlama veya farklı gizlilik gibi yöntemleri kullanarak hassas bilgileri güvence altına almak, ilişkiler arasında verilerin güvenli ve gizliliği koruyan bir şekilde dağıtılmasına olanak tanıyan bir ortam tasarlamak.</font></font></li>
</ul>
<ol start="7">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Bir Saldırı Algılama Sisteminin (IDS) Geliştirilmesi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Bir ağda olası bir siber tehditi gösteren sıra dışı tasarımları veya olayları belirlemek, makine öğrenmesi tekniklerini kullanan bir IDS geliştirmek ve uygulamak.</font></font></li>
</ul>
<ol start="8">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Güvenli Kimlik Doğrulama Sistemi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Hedef:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Standart tekniklere kıyasla güvenliği artırmak için sistemin gücünü ve kullanıcı erişilebilirliğini göz önünde bulundurun ve davranışsal analizler, biyometri ve parolalar gibi çeşitli yönleri entegre eden bir doğrulama modeli oluşturun.</font></font></li>
</ul>
<ol start="9">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Mobil Uygulama Güvenlik Değerlendirme Aracı</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Koruma, harika deneyimler ile ilgili genel hassasiyetleri, kabul ve gizlilik sorunlarını doğrulamak ve ardından mobil uygulamaların güvenlik değerlendirmesini otomatikleştiren bir araç oluşturmak.</font></font></li>
</ul>
<ol start="10">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Bulut Ortamları için Dijital Adli Bilişim Aracı</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Hedef:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Çeşitli bulut hizmeti çerçeveleri boyunca, özellikle bulut bilişim platformları için dijital kanıtların toplanması, korunması ve gözlemlenmesi sürecini desteklemek üzere değiştirilmiş bir dijital araç geliştirmek.</font></font></li>
</ul>
<ol start="11">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">KOBİ'ler için Güvenlik Olayı Müdahale Planı</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Hedef:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Siber durumların tanımlanması, kontrol altına alınması, ortadan kaldırılması ve kurtarılmasına yönelik protokollerin yanı sıra, Küçük ve Orta Ölçekli İşletmeler (KOBİ'ler) için uyarlanmış kapsamlı bir güvenlik olayı müdahale stratejisi oluşturmak.</font></font></li>
</ul>
<ol start="12">
<li><strong><u><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Kripto Para Güvenliğinin Analizi</font></font></u></strong></li>
</ol>
<ul>
<li><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Amaç:</font></font></strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;"> Olası hassasiyetleri tespit ederek ve iyileştirmeler geliştirerek soygun ve dolandırıcılıkların önüne geçmek, farklı kripto para birimlerinin koruma sistemlerini kapsamlı bir şekilde gözlemlemek.</font></font></li>
</ul>
<p><img fetchpriority="high" decoding="async" class="alignnone  wp-image-6253" src="https://phdprojects.org/wp-content/uploads/2024/04/Cyber-Forensics-Project-Topics-300x214.jpg" alt="Siber Adli Bilişim Araştırma Önerisi Fikirleri" width="610" height="435" srcset="https://phdprojects.org/wp-content/uploads/2024/04/Cyber-Forensics-Project-Topics-300x214.jpg 300w, https://phdprojects.org/wp-content/uploads/2024/04/Cyber-Forensics-Project-Topics.jpg 700w" sizes="(max-width: 610px) 100vw, 610px"></p>
<h2><strong><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Siber Adli Bilişim Proje Fikirleri</font></font></strong></h2>
<p><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Aşağıda listelenen çeşitli Siber Adli Bilişim Proje Fikirleri için phdprojects.org, özel konular hazırlama konusunda uzmandır, öyleyse neden bekleyesiniz? Araştırma alanınızda keşif için bizimle iletişime geçin. O yılın saygın makalelerini karşılaştırıyor ve talebiniz üzerine karşılaştırmalı analizler yapıyoruz. Ayrıca, referans alınan makaleleri de paylaşıyoruz.</font></font></p>
<ol>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Adli araçların ve yöntemlerin doğrulanması: Dijital adli tıp uzmanları için bir giriş kitabı</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">M-sağlık dijital kanıt taksonomisi sistemi (MDETS): Bilgi paylaşımı yaklaşımıyla dijital adli tıp hazırlığını sağlama</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Biyoteknoloji Şirketlerinde Finansal Maliyet Yönetiminde Gömülü Ses ve Dijital Adli Bilişim Sistemlerinin Uygulanması.</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Dijital Adli Bilişim Yapay Zekası: Dijital Kanıt Madenciliği Tekniklerinin Değerlendirilmesi, Standardizasyonu ve Optimize Edilmesi</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">NIST SP 800-101 R1'e dayalı bir Android akıllı telefondaki Facebook Messenger uygulamasındaki dijital adli tıp, dijital suç vakalarını ortaya çıkarmak için</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Finansal maliyet yönetiminde gömülü ses ve dijital adli bilişim sisteminin uygulanması</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Anti-Adli Tekniklere Genel Bir Bakış ve Dijital Adli Analiz Üzerindeki Etkileri</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Veri Seti: Dijital Adli Bilişim ve Parmak İzi Araştırmalarındaki Küresel Trendler: Kapsamlı Bir Analiz</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Yeni Nesil Siber İtfaiyecileri Eğitmek İçin Araştırma Odaklı, Uygulama Odaklı Dijital Adli Tıp Müfredatı</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Dijital adli bilişimde kopyalama-taşıma sahteciliğinin tespiti için geliştirilmiş bir yöntem</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Dijital Adli Bilimlere Uygulanan Davranışsal Kanıt Analizi: Eşler Arası Ağlar Kullanılarak Çocuk Pornografisi Vakalarının Ampirik Analizi</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Dijital medya adli tıp uzmanları için yeni bir steganaliz tekniği</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Dijital Ses Adli Bilimlerinde Kopyalama-Taşıma Sahteciliğinin Kör Tespiti</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Klavye ve Kameradan Alınan Veriler İçin Dijital Adli Kayıt Sisteminin Geliştirilmesi ve Uygulanması</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Eğitim, öğretim ve soruşturma için sanal dijital adli tıp sınıfı ve laboratuvarının uygulanması</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Cezai soruşturmalarda dijital adli bilişim için güvenilirlik doğrulamasını sağlayan çerçeve (RVEF)</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Dijital adli bilişim için otomasyon: Topluluk için bir tanıma doğru</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Zepp Life Android uygulamasının ölüm sonrası dijital adli tıp analizi</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Adli soruşturmalarda yasadışı uyuşturucu analizi için dijital adli istihbarat</font></font></li>
<li><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Eser Genom Projesi aracılığıyla eser küratörlüğü ve ölçeklenebilir, erişilebilir alıştırmalarla dijital adli tıp eğitiminin genişletilmesi</font></font></li>
</ol>	
{% endblock content %}    
</body>